.container-fluid{
    padding-top: 50px;
    padding-bottom: 50px;
}
.bg-1{
    background-color: lavender;
    color: #0f0f0f;
}
.bg-2{
    background-color: #474e5d;
    color: #ffffff;

}
.bg-3{
    background-color: #ffffff;
    color: #555555;
}
.img-size{
    width: 45px;
}