:root{
    --color-white: #ffffff;
    --color-black: #0f0f0f;
    --color-purple: #ab35bb;

    --color-purple-0: #f2edf8;
    --color-purple-1: #f0e3ff;
    --color-purple-2: #e1ccec;
    --color-purple-3: #c9b6e4;
    --color-purple-4: #916dd5;
    --color-purple-5: #3e206d;
}

body{
    font-family: 'Livvic', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

/* >>>>> p - Font-size <<<<< */
p{
    font-size: 18px;
}
.p-small{
    font-size: 14px;
}
/* >>>>> Margin bottom and top <<<<< */
.margin-bt {
    margin-bottom: 30px;
}
.margin-tp {
    margin-top: 25px;
}

/* >>>>> Container e cores <<<<< */

.bg-0{
    background-color: var(--color-purple-0);
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.bg-1{
    background-color: var(--color-purple-1);
    color: var(--color-black);
}
.bg-2{
    background-color: var(--color-purple-2);
    color: var(--color-black);
}
.bg-3{
    background-color: var(--color-purple-3);
    color: var(--color-black);
}
.bg-4{
    background-color: var(--color-purple-4);
    color: var(--color-white);
}
.bg-5 { 
    background-color: var(--color-purple-5);
    color: var(--color-white);
}

/* >>>>> Images - 4 elements and social imgs <<<<< */
.img-elements {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
  }
.img-elements:hover {
    border-color: var(--color-purple-4); 
  }

.img-social-size{
    width: 45px;
}
/* >>>>> Navbar <<<<< */
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: var(--color-purple-5) !important;
  }

/* >>>>> Brandname - coded by eluh! <<<<< */
  .brandname {
    font-size: 1.3em;
    font-weight: 900;
    color: var(--color-purple);
    font-family: Princess Sofia, Calibri;
  }
  .strong-font{
    font-weight:600;
  }

/* >>>>>> Carousel - mensagens <<<<< */
.carousel-control.right, .carousel-control.left {
    color: var(--color-purple-4);
  }
  .carousel-indicators li {
    border-color: var(--color-purple-3);
  }
  .carousel-indicators li.active {
    background-color: var(--color-purple-4);
  }

  .item span {
    font-style: normal;
  }
  .item h4 {
    font-size: 16px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 10px 400px 60px;
  }
  @media screen and (max-width: 599px) {
    .item h4{
      margin: 10px 50px 60px;
    }
  }

  @media screen and (min-width: 600px) {
    .item h4{
      margin: 10px 100px 60px;
    }
  }

  @media screen and (min-width: 1024px) {
    .item h4{
      margin: 10px 250px 60px;
    }
  }