:root{
    --color-purple: #ab35bb;
}


p{
    font-size: 18px;
}
.p-small{
    font-size: 14px;
}
.margin-bt {
    margin-bottom: 25px;
}
.margin-tp {
    margin-top: 25px;
}

.bg-1{
    background-color: #f2efea;
    color: #0f0f0f;
}
.bg-2{
    background-color: #A3d2ca;
    color: #555555;
}
.bg-3{
    background-color: #5eaaa8;;
    color: #0f0f0f;
}
.bg-4{
    background-color: #056676;
    color: #F6f5f5;
}
.bg-5 { 
    background-color: #2f2f2f;
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.img-elements {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
  }
  .img-elements:hover {
    border-color: #244B9B; 
  }
  

.img-social-size{
    width: 45px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }

  .brandname {
    font-size: 1.3em;
    font-weight: 900;
    color: var(--color-purple);
    font-family: Princess Sofia, Calibri;
  }
  
  /* >>>>> Footer - coded by eluh! <<<<< */
  .col-coded-sign {
    color: var(--color-purple);
    font-family: Princess Sofia, Calibri;
    font-size: 24px;
    font-weight: 900;
  }  
  .strong-font{
    font-weight:600;
  }
  .col-coded-sign{
    font-size: 24px;
    color: purple;
}

  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #097051;
  }
  .carousel-indicators li {
    border-color: #20756a;
  }
  .carousel-indicators li.active {
    background-color: #0a6b5c;
  }
  .item h4 {
    font-size: 16px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 10px 200px 60px;
  }
  @media screen and (max-width: 768px) {
    .item h4{
      margin: 10px 50px 60px;
    }
  }

  .item span {
    font-style: normal;
  }